#labs{
    display:flex;
}
#namecard{
    border: solid rgb(238, 238, 238) 1px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;   
    margin-left: 150px;
}

#lab2{
    border: solid rgb(238, 238, 238) 1px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;
    margin-right: 150px;
}

body{
    background-color: rgb(206, 236, 255);
}